<!DOCTYPE html>
<html>
<head>
<title>index.html</title>

<meta name="keywords" content="keyword1,keyword2,keyword3" />
<meta name="description" content="this is my page" />
<meta name="content-type" content="text/html; charset=UTF-8" />

<!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
</head>

<body>
	<span id="awser">你好.</span>
	<br />
	<input type="text" id="text" />
	<button id="send">发送</button>
</body>
<script type="text/javascript">
	$("#send").click(function() {
		var param = {};
		param.question = $("#text").val();
		$.post("/talk", param, function(data) {
			$("#awser").text(data);
		}, "text")
	});
</script>
</html>
